<h1>Post away!</h1>
<p>by Heda Hahn</p>

<button class="social-btn"><%= link_to "Follow me", "https://www.facebook.com/trybloc"%></button>
<button class="social-btn"><%= link_to "Contact me", "http://www.hedahahn.com/#!contact/c1et"%></button>
