<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page for Bloccit.</p>
<div class="posts">Welcome to my application.</div>
<div class="posts">Post here.</div>
<section>This is the content in a section element.</section>
